/*background*/
body {
  background-color: black
}

/*text*/
p {
  font-size: 30px;
  color: white;
  font-style: bold
}

h2 {
  color: white;
  text-align: right
}

/*removes blue color from the anchor tag*/
a {
  color: white;
}

/*centers images using a div and margins*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

}

/*makes all images black and white*/
img {
  filter: grayscale(100%);
  height: auto;
  width: 300px
}