

/*background*/
body{
  background-color: black
}
/*text*/
p{
 font-size: 30px;
  color: white;
  font-style: bold
}

h2{
  color: white;
  text-align: right
}
/*removes blue color and underline from the anchor tag*/
a{
  color: white;
}
/*centers images using a div and margins*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}

.right {
  display: block;
  margin-left: 1000px;
  margin-top: -300px; 
  scroll-margin: auto;
  position: relative;
}

.left {
  display: block;
  margin-right: -800px;
  margin-top: -300px; 
  position: relative;
}

/*makes all images black and white*/
img {
  filter: grayscale(100%);
}
